.section{
    @media screen and (max-width: 767px){ 
        padding-top: 60px;
        padding-bottom: 60px; 
    }
    // @extend %section;
}

.about-us-title{
    // @extend %title;
    @media screen and (max-width: 767px){
    color: $title-text-color; 
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center; 
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}       
}

.about-us-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;   
    color: $title-text-color;

    margin-bottom: 10px;
}

.about-us{
    background-color: $background-color;
    margin-top: 60px;
}
.about-us-description{
    font-size: 16px;
    line-height: 1.18;
    text-align: center; 
    color: $primary-text-color;
    margin-bottom: 16px;
}

.about-us-picture{
    margin-bottom: 30px;
}

.about-us-list{
    text-align: center;
    // display:flex;
    // justify-content: center;
    @extend %list;
}

.about-us-list .item{
    // width: 270px;
    background: $primary-white-color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 24px;


@media screen and (max-width: 767px){
&:not(:last-child){
        margin-bottom: 30px;  
}   
}

@media screen and (min-width: 768px){
    flex-basis: calc((100% - 4 * 15) / 2); 
    margin: 15px;
}

}

.about-us-thumb{
    margin-left: 0;
    margin-right: 0;
}

// .about-us-list .item:not(:last-child){
//     margin-right: 30px;
// }

.sm{
    text-decoration: none;
}

.about-us-sm{
    display:flex;
    justify-content: center;  
    @extend %list;
}

.about-us-sm .item-sm:not(:last-child){
    margin-right: 10px;
}

.icon{
    display: flex;
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.link-icon{
    display: flex;
    background-size: 44px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: $primary-white-color;
    color: $background-logo-color;

    transition-property: $background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        background-color: $accent-color;
        color: $primary-white-color;   
}
}  