.bg{
    background-color: $background-form-color;

    @media screen and (max-width: 767px){
    text-align: center;
    }
}

.footer{

    @media screen and (min-width: $desktop){
    display: flex;
    align-items: baseline; 
    }  

    @media screen and (min-width: $tablet) and (max-width: 1199px){
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
    } 

}

.footer-address-contacts{
    display: block;
    margin-top: 9px;
    font-style: normal;
    line-height: 1.71;  
    color: $footer-address-color;
    text-decoration: none;
}

.footer-social{
    @extend %list;
}

.footer-log-address{
    padding-top: 60px;

    @media screen and (max-width: 767px){
        padding-bottom: 20px;
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px){
        text-align: center;
        padding-left: 76px;
    }

    @media screen and (min-width: $desktop){
        width: 270px;
        margin-right: 70px;
        padding-bottom: 60px;
    }

}

.footer-address{
    line-height: 1.71;
    color: $primary-white-color; 
    font-style: normal; 
}
