%section{
    padding-top: 94px;
    padding-bottom: 94px;
}

%list{
    padding:0;
    margin: 0;
    list-style: none;
}

%title{ 
    margin-top: 0;
    margin-bottom: 50px;
    color: $title-text-color; 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center; 
}