$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$accent-focus-color:  #188CE8;
$primary-white-color: #FFFFFF; 
$primary-white-color: #FFFFFF; 
$background-color: #F5F4FA;
$background-form-color: #2F303A;
$background-logo-color: #AFB1B8;
$placeholder-color: rgba(117, 117, 117, 0.5);
$background-modal-color: rgba(0, 0, 0, 0.2);
$background-social-media: rgba(255, 255, 255, 0.1);
$black: #000000;
$border-modal-color: rgba(33, 33, 33, 0.2);
$border-icon-color: rgba(0, 0, 0, 0.1); 
$border-form-color: rgba(255, 255, 255, 0.3);
$border-portfolio-color: #EEEEEE; 
$background-work-color: rgba(47, 48, 58, 0.8); 
$footer-address-color: rgba(255, 255, 255, 0.6);
$portfolio-background-color: rgba(33, 150, 243, 0.9);
$font-family-logo: Raleway sans-serif;
$font-family-text: Roboto sans-serif;

